.form-container {
  width: 600px;
  margin: 100px auto;
  padding: 5rem;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid #0078d6;
}
p {
  margin: 0;
}
.form-link {
  color: #0078d6;
  text-decoration: none;
}
@media only screen and (max-width: 600px){
  .form-container {
    width: 90vw !important;
    margin: 20px auto!important;
    padding: .5rem!important;
  }
}
