.manage-inventories{
    max-width: 1440px;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
}
.manage-inventories h1{
  font-size: 4rem;
  font-family: "Oswald", sans-serif;
  text-transform: capitalize;
  text-align: center;
}
.table{
    padding: 0 10px;
}
.add-item{
    display: inline-block;
    margin: 0 auto;
}
.remove{
    background-color: white;
    border: none;
}