.service-container {
  padding: 80px 0;
  color: white;
  background-color: #332467;
}
.service-heading h1 {
  font-size: 5rem;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-style: italic;
  text-align: center;
}
.service-heading h4{
  font-size: 1.5rem;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: #e268e0;
}
.services{
  max-width: 1200px;
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 30px;
}
