.add-item-container {
  max-width: 1440px;
  margin: 2rem auto;
}
.add-item-container h1 {
  
  font-size: 4rem;
  font-family: "Oswald", sans-serif;
  text-transform: capitalize;
  text-align: center;
}
.form-container {
  width: 600px;
  margin: 100px auto;
  padding: 5rem;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid #0078d6;
}

