.banner {
  position: relative;
}
.image img {
  /* width: 360px; */
  padding: 0 auto;
  width: 100%;
  height: auto;
  max-width: 100%;
}
.details {
  color: white;
  position: absolute;
  top: 150px;
  left: 160px;
  text-align: left;
  text-align: left;
  z-index: 1;
  line-height: 1;
  font-weight: 500;
}
.details h1 {
  font-size: 6rem;
  font-family: "BenchNine", sans-serif;
  text-transform: capitalize;
}

.details p {
  font-size: 3rem;
  margin-top: 50px;
  font-weight: 300;
}
.details span {
  color: #e268e0;
}

@media only screen and (max-width: 600px) {
  .image img {
    /* width: 360px; */
    padding: 0 auto;
    width: 100%;
    height: auto;
    max-width: 100%;
  }
  .details {
    position: absolute;
    top: 40px;
    left: 35px;
  }
  .details h1 {
    font-size: 1.5rem;
  }
  .details p {
    font-size: 1rem;
    margin-top: 20px;
  }
}
