@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');
.image{
    position: relative;
}
.details{
    color: white;
    position: absolute;
    top: 335px;
    left: 125px;
    text-align: left;
    text-align: center;
    z-index: 1;
    line-height: 1;
}
.details h1{
    font-size: 7rem;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

.details p{
    font-size: 4rem;
}
.details span{
    color: #e268e0;
}
.details-gym{
    color: #332467;
    position: absolute;
    top: 215px;
    left: 10px;
    text-align: left;
    text-align: center;
}
.details-gym h1{
    font-size: 32rem;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

